[{:db/id #db/id[:db.part/db]
  :db/ident :user/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Username"
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Password (bcrypt hashed)"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/projects
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A user's projects"
  :db/isComponent true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :project/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Project name"
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :project/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Project description"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :project/collections
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A project's collections"
  :db/isComponent true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Collection name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Collection description"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/word-count-mode
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Collection's target word count mode"
  :db.install/_attribute :db.part/db}

     {:db/id #db/id[:db.part/db]
      :db/doc "This collection has no word count target"
      :db/ident :collection.word-count-mode/off}

     {:db/id #db/id[:db.part/db]
      :db/doc "This collection's word count target is automatically aggregated from its decendants"
      :db/ident :collection.word-count-mode/automatic}

     {:db/id #db/id[:db.part/db]
      :db/doc "This collection's word count is set manually in the :collection/target attribute"
      :db/ident :collection.word-count-mode/manual}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/target
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Target word count for collection (when :collection/word-count-mode is :collection.word-count-mode/manual)"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/deadline-mode
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Collection's deadline mode"
  :db.install/_attribute :db.part/db}

     {:db/id #db/id[:db.part/db]
      :db/doc "This collection has no deadline"
      :db/ident :collection.deadline-mode/off}

     {:db/id #db/id[:db.part/db]
      :db/doc "This collection's deadline is automatically aggregated from its descendants"
      :db/ident :collection.deadline-mode/automatic}

     {:db/id #db/id[:db.part/db]
      :db/doc "This collection's deadline is set manually in the :collection/deadline attribute"
      :db/ident :collection.deadline-mode/manual}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/deadline
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Collection deadline"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/position
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Position of the collection among other collections in its project"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :collection/children
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The collection's top-level items"
  :db/isComponent true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Folder name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Folder description"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/word-count-mode
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Folder's target word count mode"
  :db.install/_attribute :db.part/db}

     {:db/id #db/id[:db.part/db]
      :db/doc "This folder has no word count target"
      :db/ident :folder.word-count-mode/off}

     {:db/id #db/id[:db.part/db]
      :db/doc "This folder's word count target is set manually in the :folder/target attribute"
      :db/ident :folder.word-count-mode/manual}

     {:db/id #db/id[:db.part/db]
      :db/doc "This folder's word count target is automatically aggregated from its children"
      :db/ident :folder.word-count-mode/automatic}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/target
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Target word count for folder when :folder/word-count-mode is set to :folder.word-count-mode/manual"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/deadline-mode
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Folder's deadline mode"
  :db.install/_attribute :db.part/db}

     {:db/id #db/id[:db.part/db]
      :db/doc "This folder has no deadline"
      :db/ident :folder.deadline-mode/off}

     {:db/id #db/id[:db.part/db]
      :db/doc "This folder's deadline is manually set in the :folder/deadline attribute"
      :db/ident :folder.deadline-mode/manual}

     {:db/id #db/id[:db.part/db]
      :db/doc "This folder's deadline is automatically aggregated from its children"
      :db/ident :folder.deadline-mode/automatic}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/deadline
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Folder's deadline when :folder/deadline-mode is set to :folder.deadline/manual"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/position
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "The position of the folder among its sibling folders and snippets"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :folder/children
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "The folder's contained items"
  :db/isComponent true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Snippet name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Snippet description"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/content
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Snippet content"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/word-count-mode
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Snippet's word count target mode"
  :db.install/_attribute :db.part/db}

     {:db/id #db/id[:db.part/db]
      :db/doc "This snippet has no word count target"
      :db/ident :snippet.word-count-mode/off}

     {:db/id #db/id[:db.part/db]
      :db/doc "This snippet's word count target is set manually in the :snippet/target attribute"
      :db/ident :snippet.word-count-mode/manual}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/target
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "This snippet's word count target when :snippet/word-count-mode is set to :snippet.word-count-mode/manual"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/deadline-mode
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "This snippet's deadline mode"
  :db.install/_attribute :db.part/db}

     {:db/id #db/id[:db.part/db]
      :db/doc "This snippet has no deadline"
      :db/ident :snippet.deadline-mode/off}

     {:db/id #db/id[:db.part/db]
      :db/doc "This snippet's deadline is set manually in the :snippet/deadline attribute"
      :db/ident :snippet.deadline-mode/manual}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/deadline
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Snippet's deadline when :snippet/deadline-mode is set to :snippet.deadline/off"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/create-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "When snippet was created"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/last-edit-date
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "When snippet was last edited"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :snippet/position
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Position of the snippet among its sibling folders and snippets"
  :db.install/_attribute :db.part/db}]
