<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penny Dreadful</title>
    <link rel="stylesheet" href="../../../../resources/public/css/foundation.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../../resources/public/css/site.css"/>
    <script src="../../../../resources/public/js/modernizr.js"></script>
    <script type="text/javascript" src="../../../../resources/public/js/jquery.js"></script>
    <script type="text/javascript" src="../../../../resources/public/js/spin.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).foundation();

        var spinner = new Spinner({
          lines: 9,
          length: 6,
          width: 1,
          radius: 3,
          corners: 0,
          rotate: 0,
          direction: 1,
          color: "#fff",
          speed: 1,
          trail: 60,
          shadow: false,
          top: "12px"}).spin(document.getElementById("spinner")); 
      });
    </script>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">
                <i class="fa fa-book"></i>
                Penny Dreadful <small id="pd-version">v0.8.0</small>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="name">
              <span id="spinner" class="hide"></span>
            </li>
          </ul>
          <ul class="right">
            <li>
              <a href="#"><i class="fa fa-tasks"></i> All Projects</a>
            </li>
            <li class="has-dropdown">
              <a href="#"><i class="fa fa-user"></i> Logged in as ryan</a>
              <ul class="dropdown">
                <li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-power-off"></i> Log Out</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="large-6 large-offset-3 columns">
    <div class="row">
      <div class="large-11 columns">
        <h2>All Projects</h2>
      </div>
      <div class="large-1 columns text-right">
        <h2 id="changes-flag" class="hide">
          <small>
            <span data-tooltip class="has-tip" title="Your changes will be saved soon. Do not navigate away until this icon disappears.">
              <i class="fa fa-bolt"></i>
            </span>
          </small>
        </h2>
      </div>
    </div>
      <div id="project-list">
        <div class="project panel" id="project-panel-1111">
          <h3><span class="project-title" data-id="1111" contenteditable="true">Accidental Astronauts</span></h3>
          <p class="project-description" contenteditable="true">Tonx fixie American Apparel, wolf eiusmod cred art party XOXO. In assumenda anim hashtag aliquip, delectus ex. Bitters consequat cillum post-ironic. Whatever YOLO viral minim, shabby chic farm-to-table paleo craft beer selfies. Austin voluptate kogi, aesthetic cornhole scenester laborum irure quinoa flannel sriracha minim.</p>
          <div class="row">
            <div class="large-12 columns clearfix">
              <ul class="button-group right">
                <li><a data-reveal-id="delete-confirmation-1111" class="small alert button project-delete-link"><i class="fa fa-trash-o"></i> Delete</a></li>
                <li><a class="small button project-compile-link"><i class="fa fa-book"></i> Compile</a></li>
                <li><a class="small button project-export-link"><i class="fa fa-cloud-download"></i> Export</a></li>
                <li><a class="small success button project-write-link"><i class="fa fa-pencil"></i> Write!</a></li>
              </ul>
            </div>
          </div>
          <div id="delete-confirmation-1111" class="reveal-modal small" data-reveal>
            <h2>Delete project?</h2>
            <p>Are you sure you want to delete your project <em>Accidental Astronauts</em>? This action cannot be undone.</p>
            <div class="row">
              <div class="large-12 columns clearfix">
                <ul class="button-group right">
                  <li><a class="button delete-nevermind" data-id="1111"><i class="fa fa-meh-o"></i> Never Mind</a></li>
                  <li><a class="alert button delete-confirm" data-id="1111"><i class="fa fa-trash-o"></i> Yes, Delete</a></li>
                </ul>
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
        <div class="project panel">
          <h3>Bromantic Birdfeeders</h3>
          <p>Ugh letterpress bespoke keytar, keffiyeh Wes Anderson flexitarian quinoa laboris actually pour-over id dreamcatcher velit exercitation. Authentic master cleanse voluptate hoodie, Vice Wes Anderson fugiat fanny pack pork belly McSweeney's gluten-free chambray scenester.</p>
          <div class="row">
            <div class="large-12 columns clearfix">
              <ul class="button-group right">
                <li><a class="small alert button"><i class="fa fa-trash-o"></i> Delete</a></li>
                <li><a class="small button"><i class="fa fa-book"></i> Compile</a></li>
                <li><a class="small button"><i class="fa fa-cloud-download"></i> Export</a></li>
                <li><a class="small success button"><i class="fa fa-pencil"></i> Write!</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      
      <form id="new-project-form">
        <div class="row collapse">
          <div class="large-10 columns">
            <input id="new-project-name-input" type="text" placeholder="Enter a new project name"/>
          </div>          
          <div class="large-2 columns">
            <a id="create-project-button" class="postfix button"><i class="fa fa-plus"></i> Create</a>
          </div>
        </div>
      </form>

    </div>

    <section class="deps">
      <script src="../../../../resources/public/js/foundation.min.js"></script>
    </section>    
  </body>
</html>
