<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penny Dreadful</title>
    <link rel="stylesheet" href="../../../../resources/public/css/foundation.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../../resources/public/css/site.css"/>
    <script src="../../../../resources/public/js/modernizr.js"></script>
    <script type="text/javascript" src="../../../../resources/public/js/jquery.js"></script>
    <script type="text/javascript" src="../../../../resources/public/js/spin.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).foundation();

        var spinner = new Spinner({
          lines: 9,
          length: 6,
          width: 1,
          radius: 3,
          corners: 0,
          rotate: 0,
          direction: 1,
          color: "#fff",
          speed: 1,
          trail: 60,
          shadow: false,
          top: "12px"}).spin(document.getElementById("spinner")); 
      });
    </script>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">
                <i class="fa fa-book"></i>
                Penny Dreadful <small id="pd-version">v0.8.0</small>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="name">
              <span id="spinner" class="hide"></span>
            </li>
          </ul>
          <ul class="right">
            <li>
              <a href="#"><i class="fa fa-tasks"></i> All Projects</a>
            </li>
            <li class="has-dropdown">
              <a href="#"><i class="fa fa-user"></i> Logged in as ryan</a>
              <ul class="dropdown">
                <li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-power-off"></i> Log Out</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div id="project-nav" class="large-3 medium-3 small-3 columns">
      <h3 id="project-title">Project 1</h3>

      <div id="project-tree">

      <ul class="fa-ul">

        <!-- for each collection -->
        <li class="pd-collection" id="collection-node-1111">
          <div><i class="fa-li fa fa-briefcase"></i><span class="collection-name"><a href="#">Collection 1</a></span></div>
          <ul class="fa-ul">

            <!-- for each child in collection -->
            <li class="pd-folder">
              <div><i class="fa-li fa fa-folder-open"></i><span class="folder-name"><a href="#">Folder 1</a></span></div>
              <ul class="fa-ul">

                <!-- for each child in folder -->
                <li class="pd-snippet">
                  <div><i class="fa-li fa fa-file-text-o"></i><span class="snippet-name"><a href="#">Snippet 1</a></span></div>
                </li>

                <li>
                  <div><i class="fa-li fa fa-folder"></i><span class="folder-name"><a href="#">Folder 1a</a></span></div>
                </li>
                <!-- end for each child in folder -->

              </ul>
            </li>
            <!-- end for each child in collection -->

          </ul>          
        </li>
        <!-- end for each collection -->
      </ul>
      </div>

    </div>

    <div class="large-6 medium-6 small-6 columns">
      <div class="row">
        <div class="large-11 columns"><h2>All Collections</h2></div>
        <div class="large-1 columns text-right">
          <h2 id="changes-flag" class="hide">
            <small>
              <span data-tooltip class="has-tip" title="Your changes will be saved soon. Do not navigate away until this icon disappears.">
                <i class="fa fa-bolt"></i>
              </span>
            </small>
          </h2>
        </div>
      </div>

      <div id="collections-list">
        <div class="collection panel" id="collection-panel-1111">
          <h3><span class="collection-title" data-id="1111" contenteditable="true">Research</span></h3>
          <div class="collection-description textblock" contenteditable="true" data-id="1111">Project research</div>
          <div class="row">
            <div class="large-12 columns clearfix">
              <ul class="button-group right">
                <li><a data-reveal-id="delete-confirmation-1111" class="small button collection-delete-link"><i class="fa fa-trash-o"></i> Delete</a></li>
                <li><a class="small button collection-outline-link"><i class="fa fa-indent"></i> Outline</a></li>
                <li><a class="small button collection-move-up" data-id="1111"><i class="fa fa-arrow-up"></i> Move up</a></li>
                <li><a class="small button collection-move-down" data-id="1111"><i class="fa fa-arrow-down"></i> Move down</a></li>
              </ul>
            </div>
          </div>
          <div id="delete-confirmation-1111" class="reveal-modal small" data-reveal>
            <h2>Delete collection?</h2>
            <p>Are you sure you want to delete your collection <em>Research</em>? This action cannot be undone.</p>
            <div class="row">
              <div class="large-12 columns clearfix">
                <ul class="button-group right">
                  <li><a class="button delete-nevermind" data-id="1111"><i class="fa fa-meh-o"></i> Never Mind</a></li>
                  <li><a class="alert button delete-confirm" data-id="1111"><i class="fa fa-trash-o"></i> Yes, Delete</a></li>
                </ul>
              </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>

      </div>

      <form id="new-collection-form">
        <input type="hidden" id="project-eid" value="9999"/>
        <div class="row collapse">
          <div class="large-9 columns">
            <input id="new-collection-name-input" type="text" placeholder="Enter a new collection name"/>
          </div>
          <div class="large-3 columns">
            <a id="create-collection-button" class="postfix button"><i class="fa fa-plus"></i> Create Collection</a>
          </div>
        </div>
      </form>

    </div>

    <div class="large-3 medium-3 small-3 columns">
      <h3>This Project</h3>
      <div class="panel">
        <h4>Description</h4>
        <div class="textblock" id="project-description" contenteditable="true">
          Schlitz bicycle rights Williamsburg tousled meh American Apparel, typewriter dreamcatcher Wes Anderson. Wolf whatever put a bird on it plaid McSweeney's stumptown. 
        </div>
      </div>
    </div>

    <section class="deps">
      <script src="../../../../resources/public/js/foundation.min.js"></script>
    </section>    
  </body>
</html>
