<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penny Dreadful</title>
    <link rel="stylesheet" href="../../../../resources/public/css/foundation.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../../resources/public/css/site.css"/>
    <script src="../../../../resources/public/js/modernizr.js"></script>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">
                <i class="fa fa-book"></i>
                Penny Dreadful <small id="pd-version">v0.8.0</small>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="has-dropdown">
              <a href="#"><i class="fa fa-user"></i> Logged in as ryan</a>
              <ul class="dropdown">
                <li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-power-off"></i> Log Out</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    
    <div id="project-nav" class="large-3 medium-3 small-3 columns">
      <h3 id="project-title" contenteditable="true">Project 1</h3>

      <div id="project-tree">

      <ul class="fa-ul">

        <!-- for each collection -->
        <li class="pd-collection">
          <div><i class="fa-li fa fa-briefcase"></i>Collection 1</div>
          <ul class="fa-ul">

            <!-- for each child in collection -->
            <li class="pd-folder">
              <div><i class="fa-li fa fa-folder-open"></i>Folder 1</div>
              <ul class="fa-ul">

                <!-- for each child in folder -->
                <li>
                  <div><i class="fa-li fa fa-folder"></i>Folder 1a</div>
                </li>

                <li class="current">
                  <div><i class="fa-li fa fa-file-text-o"></i>Snippet 1</div>
                </li>
                <!-- end for each child in folder -->

              </ul>
            </li>

            <li class="pd-snippet">
              <div><i class="fa-li fa fa-file-text-o"></i>Snippet 2</div>
            </li>
            <!-- end for each child in collection -->

          </ul>          
        </li>
        <!-- end for each collection -->
      </ul>
      </div>

    </div>

    <div class="large-6 medium-6 small-6 columns">
      <h2 contenteditable="true">Snippet 1</h2>
      <div contenteditable="true">
      <p>IPhone roof party fashion axe seitan, bespoke chia fanny pack literally tote bag typewriter McSweeney's. Pickled Shoreditch scenester keytar single-origin coffee Banksy, blog Marfa occupy 3 wolf moon gastropub YOLO fingerstache Thundercats whatever. Authentic church-key actually put a bird on it, umami butcher Terry Richardson retro meh. Pug PBR&amp;B Pitchfork photo booth trust fund, flexitarian chambray retro blog fanny pack scenester. Gastropub pop-up artisan letterpress swag, XOXO butcher brunch. Lomo Intelligentsia Thundercats scenester, Wes Anderson ethical Godard mustache tofu. Gastropub bespoke chia Austin.</p>

      <p>Artisan flexitarian synth Cosby sweater Bushwick, mumblecore bespoke Austin occupy Thundercats typewriter tofu. Vice scenester distillery before they sold out fanny pack. Freegan tofu craft beer try-hard, American Apparel squid gluten-free Etsy XOXO selfies chia slow-carb put a bird on it butcher photo booth. Ethical YOLO try-hard umami wolf pickled. Pour-over Etsy leggings gentrify deep v. Trust fund meggings vegan swag tote bag. VHS sriracha plaid 3 wolf moon.</p>

      <p>Letterpress mixtape whatever, Banksy bespoke next level quinoa hella chia sustainable locavore. Lo-fi pork belly High Life, flexitarian jean shorts ugh Tonx asymmetrical drinking vinegar tattooed leggings mumblecore Williamsburg skateboard. Food truck Schlitz slow-carb, High Life ennui chillwave mustache keffiyeh vinyl fixie scenester butcher. Freegan before they sold out yr meh Marfa typewriter. Tofu chambray Helvetica scenester irony gluten-free, flexitarian meggings bitters meh artisan lomo mlkshk Tumblr viral. Yr post-ironic cliche semiotics, Etsy Thundercats lomo pour-over. You probably haven't heard of them cred American Apparel, tote bag sartorial leggings flannel distillery twee High Life banh mi bespoke.</p>

      <p>Craft beer cornhole stumptown raw denim, bicycle rights salvia gluten-free. Bicycle rights letterpress retro selfies, literally street art Austin Intelligentsia forage squid viral High Life artisan locavore stumptown. Seitan dreamcatcher pickled squid disrupt. Banjo Bushwick cliche, Odd Future kale chips readymade salvia shabby chic flannel pickled bicycle rights XOXO. Letterpress small batch swag messenger bag kogi Terry Richardson PBR&amp;B. Authentic four loko 90's, photo booth +1 kale chips bitters kogi polaroid Truffaut beard American Apparel fingerstache YOLO mustache. Seitan mumblecore gastropub, selvage viral brunch banh mi farm-to-table fixie gluten-free High Life.</p>
      </div>
    </div>
    <div class="large-3 medium-3 small-3 columns">
      <h3>This Snippet</h3>
      <div class="panel">
        <h4>Progress</h4>
        <p>1264 of 2000 words</p>
        <div class="progress" style="margin-top:0.8em">
          <span class="meter" style="width:60%"></span>
        </div>
      </div>
      <div class="panel">
        <h4>Deadline</h4>
        <p>Due in <span data-tooltip class="has-tip" title="15 December 2013 at 5:00pm">2 days</span>!</p>
      </div>
      <div class="panel">
        <h4>Card</h4>
        <p contenteditable="true">
          Schlitz bicycle rights Williamsburg tousled meh American Apparel, typewriter dreamcatcher Wes Anderson. Wolf whatever put a bird on it plaid McSweeney's stumptown. Messenger bag bespoke ethical bitters ethnic. Art party disrupt irony ennui brunch chillwave. Etsy kale chips raw denim skateboard Truffaut disrupt.
        </p>
      </div>
    </div>
    
    <script src="../../../../resources/public/js/jquery.js"></script>
    <script src="../../../../resources/public/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
